@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '~@blueprintjs/table/lib/css/table.css';

.clients-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 50px 0 100px;
  padding: 15px;

  .filters-panel {
    display: flex;
    justify-content: flex-end;

  }

  .table-paging-container {
    background: white;
    box-shadow: 0 0 5px 1px lightgrey;
  }

  .table-container {
    height: 80%;
  }

  .header-cell {
    font-size: 22px;
    border: none;
  }

  .blueprint-table {
    max-width: 100%;
    margin: 0 auto;
    outline: none;
    box-shadow: none;

    .bp3-table-quadrant-main {
      background: white !important;
    }

    .blueprint-column {
      flex-grow: 1;
      font-size: 16px;
    }

    .bp3-table-header {
      text-transform: capitalize;
      font-size: 22px;
      box-shadow: none;
      border-bottom: 1px solid #f1eaea;
    }

    .table-cell {
      display: flex;
      flex-grow: 1;
      cursor: text;

    }
  }

  .bp3-table-cell {
    display: flex;
    flex-grow: 1;
    box-shadow: none;
    border-bottom: 1px solid #f1eaea;
    width: 1600px !important;

    .bp3-table-truncated-text {
      align-self: center;
    }
  }

  .paging-container {
    display: flex;
    justify-content: space-between;

    .info-group {
      display: flex;

      & > div {
        margin-right: 15px;
        align-self: center;
      }
    }
  }

  .blueprint-button, .blueprint-select {
    background: lightgray;
    box-shadow: none;
    outline: none;

    select {
      background: lightgray;
      box-shadow: none;
      outline: none;
    }
  }

}
